<%= form_with(model: advertisment, local: true) do |form| %>
  <% if advertisment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advertisment.errors.count, "error") %> prohibited this advertisment from being saved:</h2>

      <ul>
      <% advertisment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :advertisment_year %>
  </div>

  <div class="field">
    <%= form.label :kmdriven %>
    <%= form.text_field :kmdriven, id: :advertisment_kmdriven %>
  </div>

  <div class="field">
    <%= form.label :ownercount %>
    <%= form.number_field :ownercount, id: :advertisment_ownercount %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :advertisment_price %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :advertisment_color %>
  </div>

  <div class="field">
    <%= form.label :fueltype %>
    <%= form.number_field :fueltype, id: :advertisment_fueltype %>
  </div>

  <div class="field">
    <select id="brandss" name="brand_id" class="form-control" >
		 <option value ="0">none</option>
		 <% @brands.find_each do |brand| %>
											  
		  <option value = "<%= brand.id %>"><%= brand.name %></option>
	  <% end %>
		</select>
  </div>


  <div class="field">
    <select id="variantss" name="varientid" class="form-control" >
											<% @variants.find_each do |variant| %>
											
						<option value = "<%= variant.id %>" ><%= variant.model%></option>
				      
		  <% end %>
		  </select>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
