<p id="notice"><%= notice %></p>

 <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="http://davidstutz.github.io/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<style type="text/css">
@import url("http://davidstutz.github.io/bootstrap-multiselect/dist/css/bootstrap-multiselect.css");
</style>
 <script type="text/javascript">
 		function showHideFilter(){
			var filterTable = document.getElementById("filterBody")
 			if(filterTable.offsetLeft <= 0){
 				filterTable.setAttribute("style","");
 			}else{
 				 filterTable.setAttribute("style","display:none");

 			}
 		}
 </script>
  <script>

function addvalues()
{
	var i =0;
	 var brandList = document.getElementById("brandss");
    var variantList = document.getElementById("variantss");
    for(; i<variantList.options.length;i++)
    {
    	
    	window.BrandAndVariant[variantList.options[i].value].push(variantList.options[i].name);
    }
   
    brandList.options.add()
}
       </script>                            
       <script>
function ChangeCarList() {
    var brandList = document.getElementById("brandss");
    var variantList = document.getElementById("variantss");
    var selBra = brandList.options[brandList.selectedIndex].value;
    
    while (variantList.options.length) {
        variantList.remove(0);
    }
    
    var brands = window.BrandAndVariant[selBra];
    if (brands) {
        var i;
        for (i = 0; i < brands.length; i++) {
            var brand = new Option((brands[i]));
            
            variantList.options.add(brand);
        }
    }
} 

				         </script>

<div class="container"> <br />
    <br />
    <h1>Advertisments</h1>
	<div class="row">
	
		<div class="panel panel-primary filterable">
			<div class="panel-heading">
    			<div class="pull-right">
					<button class="btn btn-default btn-xs btn-filter" id="filterButton" onclick="showHideFilter()"><span class="glyphicon glyphicon-filter"></span> Filter</button>
				</div>
				<h3 class="panel-title">Filter</h3>
			</div>
			<table class="table" id="filterBody" style="display:none">
				<thead>
					<tr class="filter">
					    <th class="column-01"></th>
						<th class="column-01"> </th>
						<th class="column-01"><p class="columnHeading">Brand</p>
						  	<form class="form-inline" role="form">
								<div class="btn-group">
								<div class="input-group"> 
											<select id="brandss" name="brand_id" class="form-control" onchange="ChangeCarList()" >
											   <% @brands.find_each do |brand| %>
											  
											    <option value = "<%= brand.id %>"><%= brand.name %></option>
											    <% end %>
											</select>
						<!--<th class="column-02"></th>
						<th class="column-02"> </th>
						<th class="column-02"><p class="columnHeading">Model</p>
						  	<form class="form-inline" role="form">
								<div class="btn-group">
								<div class="input-group"> 
								<select id="variantss" name="Brand id" class="form-control" >
											<% @variants.find_each do |variant| %>
											<% @b =  @brands.find(variant.brand_id) %>
						<option value = "<%= variant.brand_id %>"><%= variant.model%></option>
				      
				    <% end %>
						    </select>-->
						    <form action= "/advertisements/advertisement_params " method="post">
						    
						<th class="column-03"></th>
						<th class="column-03"> </th>
						<th class="column-03"><p class="columnHeading ">Year</p>
						  	<form class="form-inline" role="form">
								<div class="btn-group" onload="addvalues()">
								<div class="input-group"> 
											<input name="year" id="year" class="form-control input-number" type="number">	
						<th class="column-04"></th>
						<th class="column-04"> </th>
						<th class="column-04"><p class="columnHeading">Mileage</p>
						  	<form class="form-inline" role="form">
								<div class="btn-group">
								<div class="input-group"> 
											<input name="mileage" id="mileage" class="form-control input-number" type="number">		
						<th class="column-05"></th>
						<th class="column-05"> </th>
						<th class="column-05"><p class="columnHeading">Price</p>
						  	<form class="form-inline" role="form">
								<div class="btn-group">
								<div class="input-group"> 
											<input name="price_min" id="price_min" class="form-control input-number" type="" min="1000" max="120000" >
									- <input name="price_max" id="price_max" class="form-control input-number" type="text" min="0" max="120000" >
								</div>
						
							<th class="column-06"></th>
						<th class="column-06"> </th>
						<th class="column-06"><p class="columnHeading">FuelType</p>
						  	<form class="form-inline" role="form">
								<div class="btn-group">
								<div class="input-group"> 
											<select id="fueltyp" name="fueltyp" class="form-control" >
											
											
						<option value = 0>Petrol</option>
						<option value = 1>Diesel</option>
				      
				   
						    </select>
											<th class="column-06"></th>
						<th class="column-07"> </th>
						<th class="column-07"><p class="columnHeading"></p>
						  	<form class="form-inline" role="form">
								<div class="btn-group">
								<div class="input-group"> 
									<button class="btn btn-control btn-submit">Filter</button>
										     
						
					
								
									</div>
								</div>
						
									</div>
								</div>
							</form>
						</th>
					</tr>
				</thead>
				<tbody>
			</table>
		</div>
	</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Variant</th>
      <th>Year</th>
      <th>Kmdriven</th>
      <th>Ownercount</th>
      <th>Price</th>
      <th>Color</th>
      <th>Fueltype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisments.each do |advertisment| %>
      <tr>
        <td><%= @brands.find(advertisment.brand_id).name %></td>
        <td><%= @variants.find(advertisment.variant_id).model %></td>
        <td><%= advertisment.year %></td>
        <td><%= advertisment.kmdriven %></td>
        <td><%= advertisment.ownercount %></td>
        <td><%= advertisment.price %></td>
        <td><%= advertisment.color %></td>
        <td><%= advertisment.fueltype %></td>
        
        <td><%= link_to 'Show', advertisment %></td>
        <td><%= link_to 'Edit', edit_advertisment_path(advertisment) %></td>
        <td><%= link_to 'Destroy', advertisment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= @brs %>
<%= @year %>
<%= @f %>

<br>

<%= link_to 'New Advertisment', new_advertisment_path %>
