<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @advertisment.year %>
</p>

<p>
  <strong>Kmdriven:</strong>
  <%= @advertisment.kmdriven %>
</p>

<p>
  <strong>Ownercount:</strong>
  <%= @advertisment.ownercount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advertisment.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @advertisment.color %>
</p>

<p>
  <strong>Fueltype:</strong>
  <%= @advertisment.fueltype %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @advertisment.brand %>
</p>

<p>
  <strong>User:</strong>
  <%= @advertisment.user %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @advertisment.variant %>
</p>

<%= link_to 'Edit', edit_advertisment_path(@advertisment) %> |
<%= link_to 'Back', advertisments_path %>
